{% extends 'dotracks/dashboard/admin/header.html' %} {% load static %} {% block content %}

<div class="box box-primary card">
    <div class="box-header with-border hover">
        <h3 class="box-title">
            <i class="fa fa-building"></i>&nbsp; {{request.session.d_Entr }} {{ request.resolver_match.view_name }}</h3>
        {% if request.session.d_Entr %}
        <a href="{{ baseurl }}/dashboard/company/logout/{{ lang_abbr }}">
            <button class="btn btn-flat btn-danger btn-xs pull-right">
                <i class="fa fa-power-off"></i>&nbsp; {{ langue.form_logout }} {{ request.session.d_Entr }}</button>
        </a>
        {% endif %}
    </div>
    <div class="box-body hover">
        <!-- ./col -->
        <div class="col-md-5 col-xs-12" style="background: #f5f5f5">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua">
                    <div class="widget-user-image">
                        <img class="img-circle" data-target="#picture" data-toggle="modal" src="{% static 'dotracks/dist/img/user7-128x128.jpg' %}"
                            alt="DOTrack">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{ request.session.d_Entr }}</h3>
                    <h5 class="widget-user-desc">{{ langue.form_Entreprises }}</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li>
                            <a href="#">{{ langue.form_changer_logo }}
                                <button data-target="#picture" data-toggle="modal" class="pull-right btn bg-blue" style="margin-top: -5px;">
                                    <i class="fa fa-image"></i>&nbsp; {{langue.form_choisir_photo}}</button>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addUsers">{{ langue.form_utilisateurs }}
                                <span class="pull-right badge bg-blue">{{ nbrUser }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#viewCicursale">{{ langue.form_Cicursale }}
                                <span class="pull-right badge bg-aqua">{{ nbrCicr }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">{{ langue.form_site_web }}
                                <span class="pull-right badge bg-green">service@{{request.session.d_Entr}}.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">{{ langue.form_phone }}
                                <span class="pull-right badge bg-red"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->

            <div class="box-body">
                <!-- ./col -->
                <div class="col-lg-6 col-xs-12">
                    <!-- small box -->
                    <div class="small-box card bg-aqua">
                        <div class="inner">
                            <h3>{{ nbrCicr }}
                                <sup style="font-size: 20px">{{ nbrCicr }}</sup>
                            </h3>

                            <p>{{ langue.form_Cicursale }}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer" data-toggle="modal" data-target="#viewCicursale">
                            {{ langue.form_consulter }}
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->

                <!-- ./col -->
                <div class="col-lg-6 col-xs-12">
                    <!-- small box -->
                    <div class="small-box card bg-red">
                        <div class="inner">
                            <h3>{{ nbrEntr }}
                                <sup style="font-size: 20px">{{ nbrEntr }}</sup>
                            </h3>

                            <p>{{ langue.form_utilisateurs }}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" data-target="#addUsers" data-toggle="modal" class="small-box-footer">
                            {{ langue.form_reglages }}
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                {% if request.session.d_Entr %} {% else %}
                <div class="overlay" style="position: absolute; top:0; bottom:0; left:0; right:0; background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9))">
                    <i class="fa fa-refresh fa-spin" style="color: #fff"></i>
                    <center>
                        <p style="margin-top: 187px; color: #fff">
                            <b>{{ langue.form_Veuillez_ChoisiruneEntreprise }}</b>
                        </p>
                    </center>
                </div>
                {% endif %}
            </div>

        </div>
        <!-- ./col -->

        <!-- ./col -->
        <div class="col-lg-7 col-xs-12">
            <!-- small box -->
            <div class="box box-primary card">
                <div class="box-header">
                    <h3 class="box-title">{{ langue.form_Entreprises }} &nbsp;
                        <span class="pull-right badge bg-blue">{{ nbrEntr }}</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body scroll scroll_bleu" style="overflow-x: auto">

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1em">{{ langue.form_Entreprises}}</th>
                                <th style="font-size: 1.1em">{{ langue.form_site_web }}</th>
                                <th style="font-size: 1.1em">{{ langue.form_phone }}</th>
                                <th style="font-size: 1.1em">date</th>
                                <th style="font-size: 1.1em">{{ langue.form_outils}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elmts in listentr %}
                            <tr>
                                <td style="font-size: 1.1em">
                                    <span class="badge badge-primary">
                                        <a href="{{ baseurl }}/dashboard/company/{{ elmts.id }}/{{ lang_abbr }}/" style="color:#fff">{{ elmts.libelle }}</a>
                                    </span>
                                </td>
                                <td style="font-size: 1.1em">{{ elmts.web }}</td>
                                <td style="font-size: 1.1em">{{ elmts.tel }}</td>
                                <td style="font-size: 1.1em">{{ elmts.dates }}</td>
                                <td style="font-size: 1.1em">
                                    <button class="btn btn-primary btn-sm editEntr" data-target="#editEntr" data-toggle="modal" id="{{ elmts.id }}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm deleteEntr" id="{{ elmts.id }}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-warning btn-sm desactiver" id="{{ elmts.id }}">
                                        <i class="fa fa-power-off"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="col-md-12 text-center" style="margin-top: 25px;">
                        <a href="#" data-target="#addEnt" data-toggle="modal">
                            <button class="pull-left btn bg-blue" style="margin-top: -5px;">
                                <i class="fa fa-user-plus"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                        </a>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->

    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="modal modal-default fade" id="editEntr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        <i class="fa fa-power-off"></i>
                    </button>
                </button>
                <h4 class="modal-title">{{ langue.form_Entreprises }}</h4>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">(*) Champs sont Obligatoire</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{{ baseusrl }}/dashboard/admin/editEntr" id="editentreprise">
                        {% csrf_token %}
                        <div class="box-body" id="EntcontentEdit" style="background:#f5f5f5">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{ langue.form_Entreprises }}</label>
                                        <input type="text" disabled required name="libelle" class="form-control entEditLibelle" id="exampleInputEmail1" placeholder="{{ langue.form_Entreprises }}"
                                        />
                                    </div>
                                </div>
                                <input type="hidden" name="editEntreprise" />
                                <!-- phone mask -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Numero Téléphone: </label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" required name="tel" class="form-control entEditPhone" data-inputmask='"mask": "(999) 999-99-99-99"' data-mask/>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{ langue.form_slogan }}</label>
                                        <input type="text" required name="slogan" class="form-control entEditSlogan" id="exampleInputslogan" placeholder="{{ langue.form_slogan }}"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{ langue.form_siteweb }}</label>
                                        <input type="text" required name="web" class="form-control entEditWeb" id="exampleInputweb" placeholder="{{ langue.form_siteweb }}"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{ langue.form_Details }}</label>
                                        <textarea name="Descript" required class="form-control entEditDescript textarea" placeholder="{{ langue.form_Details }}"></textarea>
                                    </div>
                                </div>
                                <!-- /.form group -->
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div id="reponses" class="row">

                        </div>

                        <div class="box-footer" id="push">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-flat btn-primary">
                                    <i class="fa fa-save"></i>&nbsp; {{ langue.form_Enregistrer }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock %}