{% extends 'dotracks/dashboard/admin/header.html' %} {% load static %} {% block content %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="box box-primary" style="background: #fff; border: 0px; box-shadow: 0 0 0 0">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content hover" style="background: #fff;">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary card">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{% static 'dotracks/dist/img/user4-128x128.jpg' %}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{userInfo.nom}}&nbsp;{{userInfo.prenom}}</h3>

                        <p class="text-muted text-center">{{userInfo.typ__libeler}}<br>{{userInfo.role}}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>{{langue.form_lastConnexion}}</b>
                                <a class="pull-right">{{userInfo.lastconnect}}</a>
                            </li>
                            <li class="list-group-item hidden">
                                <b>{{langue.form_lastDeconnexion}}</b>
                                <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>{{langue.form_Totalconnexion}}</b>
                                <a class="pull-right badge badge-primary">{{userInfo.totalconnect}}</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block">
                            <b>{{langue.form_controlActivity}}</b>
                        </a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary card">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{langue.form_aboutme}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong>
                            <i class="fa fa-book margin-r-5"></i> {{langue.form_description}}</strong>

                        <p class="text-muted">
                            {{userInfo.about}}
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom card">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                    </ul>
                    <style>
                       .form-control{
                           border:0px;
                       }
                       textarea{
                           max-width:100%;
                           min-width: 100%;
                       }
                    </style>
                    <div class="tab-content">
                        <div class="tab-pane active" id="settings">
                            <form class="form-horizontal">
                                <h3><i class="fa fa-chevron-circle-right"></i>&nbsp; Informations du Profil<hr></h3>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Nom: </label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control disabled" value="{{userInfo.nom}}" id="inputName" placeholder="Nom">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="inputName2" class="col-sm-2 control-label">Prerom:</label>
    
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control disabled" value="{{userInfo.prenom}}" id="inputName" placeholder="Prenom">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email:</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control disabled" id="inputEmail" value="{{userInfo.email}}" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Fonction: </label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control disabled" id="inputName" value="{{userInfo.role}}" placeholder="Fonction">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputExperience" class="col-sm-2 control-label">Succursale: </label>

                                    <div class="col-sm-10">
                                        <input class="form-control disabled" id="inputExperience" value="{{userInfo.cic__ville}} - {{userInfo.cic__pays}}" placeholder="Succursale"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSkills" class="col-sm-2 control-label">Date: </label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control disabled" id="inputSkills" value="{{userInfo.dates}}" placeholder="Skills">
                                    </div>
                                </div>
                                <div class="form-group"><hr>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success" type="button">Confirmer l'operation</button>
                                        <button class="btn btn-info" type="button">Modifier</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<style>
    .principal {
        display: none;
    }
</style>

{% endblock %}