
{% extends 'dotracks/header.html' %} {% load static %} {% block content %}

<style>
    .home_slider_container, .contactt, .courr {
        display: none;
    }
</style>

<!-- Contact -->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-7 contact_form_col" style="margin-top:-80px;">
                <div class="section_title_container">
                    <div class="section_subtitle">Document Tracking</div>
                    <div class="section_title">Formulaire d'inscription</div>
                </div>
                <div class="contact_form_container">
                        <h2>Remplir les champs !</h2>
                        <p>Accedez a votre panneau d'administration en quelques secondes et a tous moment ou que vous soyez.</p>
                    <form method="POST" action="" class="contact_us_form row" id="registerForm">
                        {% csrf_token %}
    
                        <div class="form-group col-lg-12">
                            <input type="text" required="" class="input_item" id="nom" name="login" placeholder="{{ langue.form_nom }} *">
                            <br>
                            <input type="email" required="" class="input_item" id="mail" name="email" placeholder="{{ langue.form_email }} *">
                            <br>
                            <input type="password" required="" class="input_item" id="pass" name="password" placeholder="{{ langue.form_password }} *">
                        </div>
                        <div class="container">
                            <div class="alert alert-info card">
                                <p style="width:90%; margin-left: 1px;">
                                    <label for="acc"><input type="checkbox" id="acc" required class="checkbox" checked style="cursor:pointer"/>&nbsp;<b>J'ai lus et approuves les conditions d'utilisation</b></label>
                                <br>
                                    </label>Je d'ispose deja de compte d'administration. Acceder au compte |
                                    <a href="{{ baseUrl }}/connexion/{{ lang_abbr }}/" >
                                        <i class="fa fa-sign-in"></i>&nbsp;{{ langue.form_menu_connexion }}
                                    </a>
                                </p>
                            </div>
                            </div>
                        <div class="alert" id="reponses">

                        </div>
                        <div class="form-group col-md-12" id="push">
                            <button style="margin-left: 6px;" type="submit" value="submit" class="contact_button trans_200" style="float:left; margin-right:30px;">{{ langue.form_menu_inscription }}</button>
                        </div>
                
                </form>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{% static 'dotracks/img/indus-laptop.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}