{% extends 'dotracks/dashboard/header.html' %} {% load static %} {% block content %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ langue.form_utilisateurs }}
            <small>DOTrack v1.0</small>
        </h1>
        <ol class="breadcrumb">
            {% if request.session.d_user %}
            <li>
                <a href="{{baseurl}}/dashboard/admin/{{lang_abbr}}" data-toggle="tooltip" title="Synchronisation">
                    <button class="btn btn-xs btn-flat btn-default">
                        <i class="fa fa-arrow-left"></i> {{langue.form_dashboard }} Admin</button>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> {{ langue.form_menu_acceuil }}</a>
            </li>
            <li class="active">{{ langue.form_Members }}</li>
            <li class="active">{{ request.resolver_match.view_name }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid"><hr>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_reglages }}</span>
                        <span class="info-box-number">20
                            <small>%</small>
                        </span>
                        <button class="btn btn-xs btn-flat btn-default">Configurer</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-book"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_Documents }}</span>
                        <span class="info-box-number">0,0</span>
                        <button class="btn btn-xs btn-flat btn-primary">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-envelope"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Courriers</span>
                        <span class="info-box-number">0
                            <small>Recus</small>
                        </span>
                        <button class="btn btn-xs btn-flat btn-primary">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-yellow">
                        <i class="ion ion-ios-people-outline"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_utilisateurs }}</span>
                        <span class="info-box-number">{{ nbruser }}</span>
                        <button class="btn btn-xs btn-flat btn-default">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary card" style="border-radius: 0px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-building"></i>&nbsp; {{ request.session.d_Entr }} {{ request.resolver_match.view_name }} &nbsp;
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="background: #fff;">
                            <div class="col-md-8" style="background: #f5f5f5;">
                                <!-- form start -->
                                <form role="form" method="POST" action="{{ baseusrl }}/dashboard/admin/editEntr" id="editentreprise">
                                    {% csrf_token %}
                                    <div class="box-body" id="EntcontentEdit">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">{{ langue.form_libeller }}</label>
                                                    <input type="text" required name="libelle" class="form-control entEditLibelle" id="exampleInputEmail1" placeholder="{{ langue.form_libeller }}"
                                                    />
                                                </div>
                                            </div>
                                            <input type="hidden" name="editEntreprise" />
                                            <!-- phone mask -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1amn">{{ langue.form_user }}</label>
                                                    <select name="typ" class="form-control select2" required id="exampleInputEmail1amn" style="width: 100%;">
                                                        {% for elmts in typuserlist %}
                                                        <option value="{{ elmts.id }}">{{ elmts.libeler }} ({{ elmts.code }})</option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">{{ langue.form_Details }}</label>
                                                    <textarea name="Descript" required class="form-control entEditDescript textarea" placeholder="{{ langue.form_Details }}"
                                                        style="height:500px"></textarea>
                                                </div>
                                            </div>
                                            <!-- /.form  group -->
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                    <div id="reponses" class="row">

                                    </div>

                                    <div class="box-footer" id="push">
                                        <center>
                                            <button type="submit" class="btn btn-flat btn-primary">
                                                <i class="fa fa-save"></i>&nbsp; {{ langue.form_Enregistrer }}</button>
                                        </center>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-4" style="background: #fff; min-height: 200px;">
                                <center>
                                    <h1 style="margin-top: 50%">Apercu du Document</h1>
                                </center>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" role="dialog" id="fileImage">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="fa fa-power-off"></i>
                        </button>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-image"></i>&nbsp; {{langue.form_choisir_photo}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <center>
                                        <button class="btn btn-primary btn-flat choose_image">
                                            <i class="fa fa-image"></i>&nbsp; {{langue.form_choisir_photo}}</button>
                                        <button class="btn btn-info image_crop-rotate" data-deg="-90" id="RotateAntiClockwise">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                        <button class="btn btn-info image_crop-rotate" data-deg="90" id="RotateClockwise">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                        <button class="btn btn-success cropped_image">Upload Image</button>
                                    </center>
                                    <br>
                                    <div id="upload-image">
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <input type="file" id="images" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}