{% extends 'dotracks/dashboard/header.html' %} {% load static %} {% block content %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ langue.form_profile }}
            <small>DOTrack v1.0</small>
        </h1>
        <ol class="breadcrumb">
            {% if request.session.d_user %}
            <li>
                <a href="{{baseurl}}/dashboard/admin/{{lang_abbr}}" data-toggle="tooltip" title="Synchronisation">
                    <button class="btn btn-xs btn-flat btn-default">
                        <i class="fa fa-arrow-left"></i> {{langue.form_dashboard }} Admin</button>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{baseurl}}/dashboard/Member/{{lang_abbr}}">
                    <i class="fa fa-dashboard"></i> {{ langue.form_menu_acceuil }}</a>
            </li>
            <li class="active">{{ langue.form_Members }}</li>
            <li class="active">{{ request.resolver_match.view_name }}</li>
            <li class="MenuChat pull-right" id="bbb">
                <a href="#" data-toggle="tooltip" title="Menu du Chat">
                    <button class="btn btn-xs btn-flat btn-primary">
                        <i class="fa fa-list"></i>
                    </button>
                </a>
            </li>
        </ol>
    </section>

    <style>
        @media only screen and (max-width: 991px) {
            #blockUsers {
                position: fixed;
                top: 52px;
                bottom: 0;
                right: -50px;
                width: 0px;
                background: #fff;
                z-index: 99;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

            }

            .closeMenuChat, #bbb{
                display: block;
            }
        }

        @media only screen and (min-width: 991px) {
            .MenuChat, .closeMenuChat,#bbb{
                display: none;
            }
        }

        .blocMiniChat {
            display: none;
        }
    </style>

    <!-- Main content -->
    <section class="content">
        <hr>

        <div class="row">
            <div class="col-md-4 col-lg-4" id="blockUsers">

                <a href="#" class="closeMenuChat" data-toggle="tooltip" title="Fermer Menu du Chat">
                    <button class="btn btn-xs btn-flat btn-danger">
                        <i class="fa fa-close"></i>
                    </button>
                </a>

                <!-- Profile Image -->
                <div class="box box-primary card">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{% if userInfo.photo != '0' %}{{ baseurl }}/{{ userInfo.photo }}{% else %}http://esrilanka.org/mcqpal/backend/dist/img/user2-160x160.png{% endif %}"
                            alt="User profile picture">

                        <h3 class="profile-username text-center">{{userInfo.nom}}&nbsp;{{userInfo.prenom}}</h3>

                        <p class="text-muted text-center">{{userInfo.typ__libeler}}
                            <br>{{userInfo.role}}</p>

                        <ul class="list-group list-group-unbordered" style="position: relative;">
                            <li class="list-group-item" style="margin-bottom: 0px;">
                                <form action="#" method="get" class="sidebar-form">
                                    <div class="input-group">
                                        <input type="text" name="q" id="searchChat" class="form-control" placeholder="Search..." style="margin-top: 4px; margin-left: 3px;">
                                        <span class="input-group-btn">
                                            <button type="button" name="search" id="search-btn" class="btn btn-flat">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </li>

                            <style>
                                #retrivedUsers {
                                    display: none;
                                }
                            </style>
                            <div class="col-md-12 card" id="retrivedUsers" style="position: absolute;top: 70px; left: 0; right: 0; background: #fff;z-index: 9;border:1px solid #ccc;border-radius: 0px;min-height: 50px;">
                                .
                            </div>
                            {% for user in userList %} {% if request.session.d_memberid != user.id %}
                            <li class="list-group-item" style="margin-bottom: 0px;">
                                <a href="{{baseurl}}/Member/chat/user{{user.id}}/{{lang_abbr}}">
                                    <img class="profile-user-img img-responsive img-circle" src="{% if user.photo != '0' %}{{ baseurl }}/{{ user.photo }}{% else %}http://esrilanka.org/mcqpal/backend/dist/img/user2-160x160.png{% endif %}"
                                        alt="DOTrack" style="width: 37px;float: left;margin-top: -8px;margin-right:5px;">
                                    <b>{{user.prenom}}&nbsp;{{user.nom}}</b>
                                </a>
                            </li>
                            {% endif %} {% endfor %}
                        </ul>

                        <a href="#" class="btn btn-primary btn-block">
                            <b>{{langue.form_controlActivity}}</b>
                        </a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-8 col-lg-8 col-sm-12">
                <div class="nav-tabs-custom card">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#activity" data-toggle="tab">{{ langue.form_messages }}</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active " id="timeline">
                            <!-- The timeline -->
                            {% if chat == 0 %}
                            <form action="{{ baseurl }}/Member/chatValidate" method="POST" class="sidebar-form chatValidate" style="border:0px; border-bottom:1px solid #f5f5f5;">
                                {% csrf_token %}
                                <div class="input-group" style="border:0px;">
                                    <input type="text" autocomplete="off" required name="libelle" id="chatMessage" class="form-control fro fa" placeholder="&#xf118; votre message ici"
                                        style="background:#fff">
                                    <input type="hidden" class="form-control fro" id="use_id2" required name="use_id2" value="{{userID}}" />
                                    <input type="hidden" class="form-control fro" id="use_id1" required name="use" value="1" />
                                    <span class="input-group-btn">
                                        <button type="submit" id="chat-btn" class="btn fro btn-flat btn-primary">
                                            <i class="fa fa-send"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <div class="container">
                                <div class="col-md-12">
                                    <span class="badge badge-info">Options de messagerie :</span>
                                    <h3>
                                        <a class="messThumb" data-value="&#xf087;">
                                            <i class="em em---1"></i>
                                        </a> &nbsp;
                                        <a class="messThumb" data-value="&#xf165;">
                                            <i class="fa fa-thumbs-o-down text-blue"></i>
                                        </a> &nbsp;
                                        <a>
                                            <i class="fa fa-image text-red" data-toggle="tooltip" title="Images"></i>
                                        </a>
                                        &nbsp;
                                        <a>
                                            <i class="fa fa-paperclip" style="" data-toggle="tooltip" title="Files"></i>
                                        </a>
                                        &nbsp;
                                        <a class="messThumb" data-value="&#xf002;">
                                            <i class="fa fa-frown-o" data-toggle="tooltip" title="Angry"></i>
                                        </a>
                                        &nbsp;
                                        <a class="messThumb" data-value="&#xf118;">
                                            <i class="fa fa-smile-o" data-toggle="tooltip" title="Smile"></i>
                                        </a>
                                        &nbsp;
                                        <a id="speechButton">
                                            <i class="fa fa-microphone" data-toggle="tooltip" title="Voice Speech"></i>
                                        </a>
                                        &nbsp;
                                        <a>
                                            <i class="fa fa-camera" data-toggle="tooltip" title="Video"></i>
                                        </a>
                                        <span class="btn-group" style="margin-top:-7px">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <span style="font-size:0.8em">&#128522;</span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="width:180px">
                                                <div class="col-md-12">
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#x270C;">&#x270C;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#x1f600;">&#x1f600;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128530;">&#128530;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128527;">&#128527;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#127996;">&#127996;</a>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col-md-12">
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#129296;">&#129296;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#129300;">&#129300;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128149;">&#128149;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#x270A;">&#x270A;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128514;">&#128514;</a>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col-md-12">
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128104;&zwj;&#128102;">&#128104;&zwj;&#128102;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128525;">&#128525;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128557;">&#128557;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128536;">&#128536;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128566;">&#128566;</a>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col-md-12">
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128526;">&#128526;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128564;">&#128564;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#9851;">&#9851;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128588;">&#128588;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128566;">&#128566;</a>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col-md-12">
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128545;">&#128545;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128561;">&#128561;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128555;">&#128555;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128541;">&#128541;</a>
                                                    <a style="font-size:1.3em; margin:0px; margin-bottom:10px; margin-top:10px" class="messThumb" data-value="&#128582;">&#128582;</a>
                                                    <br>
                                                    <br>
                                                </div>
                                            </ul>
                                        </span>
                                    </h3>

                                </div>
                                <hr>
                            </div>
                            {% endif %} {% if chat == 0 %}
                            {% if request.session.d_memberid != userID %}
                            
                            <ul class="timeline timeline-inverse scroll scroll_bleu" id="chatContent" style="max-height: 1000px; overflow-y: auto">

                            </ul>
                            {% else %}
                               {{request.session.d_memberid}}
                               {{userID}}
                            {% endif %}
                            {% else %}

                            <div class="callout callout-default">

                                <div class="col-three-forth animate-box">
                                    <h3><center>
                                        <img src="https://www.netty.fr/images/fonctionnalite_detail/chat-messagerie-instantanee-immo.svg" style="width:20%;"/>
                                        Comment ca Marche ?</center>
                                        <hr>
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                            </p>

                                            <div class="col-md-12" style="margin-top:-30px">
                                                <div class="row no-gutters">
                                                    <div class="col-md-12 animate-box text-center">
                                                        <div class="services">
                                                            <span class="icon">
                                                                <i class="flaticon-postcard"></i>
                                                            </span>
                                                            <h3>DOTrack - Messagerie</h3>
                                                            <p>Utilisez cette zone messagerie pour entrer en contact direct
                                                                et de facon instantanée avec vos collegues sans quitter votre
                                                                espace de travail... Partagez des fichiers, des images, vos
                                                                documents, vos courriers.</p>
                                                            <p>Une discussion Audio, Video entre collegue, dans une seule application</p>
                                                            <div class="callout callout-success">
                                                                <h4 style="margin-bottom: -1px;">
                                                                    <i class="icon fa fa-info"></i> I&nbsp; Choisir un Collegue via liste ci a votre
                                                                    gauche
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->

            <style>
                .principal {
                    display: none;
                }
            </style>

            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
</div>
<!-- /.row -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}