{% extends 'dotracks/dashboard/header.html' %} {% load static %} {% block content %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ langue.form_utilisateurs }}
            <small>DOTrack v1.0</small>
        </h1>
        <ol class="breadcrumb">
            {% if request.session.d_user %}
            <li>
                <a href="{{baseurl}}/dashboard/admin/{{lang_abbr}}">
                    <button class="btn btn-xs btn-flat btn-default">
                        <i class="fa fa-arrow-left"></i> {{langue.form_dashboard }} Admin</button>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> {{ langue.form_menu_acceuil }}</a>
            </li>
            <li class="active">{{ langue.form_Members }}</li>
            <li class="active">{{ request.resolver_match.view_name }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <hr>

        <div class="row hidden">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_reglages }}</span>
                        <span class="info-box-number">20
                            <small>%</small>
                        </span>
                        <button class="btn btn-xs btn-flat btn-default">Configurer</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-book"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_Documents }}</span>
                        <span class="info-box-number">0,0</span>
                        <button class="btn btn-xs btn-flat btn-primary">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-envelope"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Courriers</span>
                        <span class="info-box-number">0
                            <small>Recus</small>
                        </span>
                        <button class="btn btn-xs btn-flat btn-primary">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box card">
                    <span class="info-box-icon bg-yellow">
                        <i class="ion ion-ios-people-outline"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ langue.form_utilisateurs }}</span>
                        <span class="info-box-number">{{ nbruser }}</span>
                        <button class="btn btn-xs btn-flat btn-default">{{ langue.form_consulter }}</button>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default  card" style="border-radius: 0px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-building"></i>&nbsp; {{ request.session.d_Entr }} {{ request.resolver_match.view_name }} &nbsp;
                            <span class="label label-warning pull-right card" style="font-size: .7em;">{{ docListDOC.count }} Documents</span>
                            <span class="label label-success pull-right card" style="font-size: .7em; margin-right: 10px;">{{ sdossierList.count }} Dossiers</span>
                            <span class="label label-primary pull-right card" style="font-size: .7em; margin-right: 10px;">{{ docList.count }} Images </span>
                            <span class="label label-info pull-right card" style="font-size: .7em; margin-right: 10px;">{{ docListfile.count }} Fichiers </span>
                        </h3>
                    </div>
                    <div class="box-body">

                        <div class="col-md-12" style="background: #f5f5f5;">
                            <div class="row">
                                <div class="col-md-12">
                                    <hr> {% if docListfile %}{% endif %}
                                    <ul class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <li class="time-label">
                                            <span class="bg-red">
                                                <i class="fa fa-home"></i> DOC
                                            </span>
                                        </li>
                                        <!-- /.timeline-label -->

                                        <!-- timeline item -->
                                        <li>
                                            <i class="fa fa-file bg-green"></i>

                                            <div class="timeline-item">
                                                <span class="time">
                                                </span>

                                                <h3 class="timeline-header">
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ lang_abbr }}">Dossiers</a> / {% if dossierInfo.dos__libelle != None %}<b>.. </b>/
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ dossierInfo.dos }}/{{ lang_abbr }}">{{ dossierInfo.dos__libelle }}</a> /{% endif %} {{ dossierInfo.libelle}}
                                                    <i class="fa fa-angle-right"></i> Documents</h3>
                                                <style>
                                                    .dropdown-item {
                                                        padding: 12px;
                                                        float: left;
                                                        width: 100%;
                                                    }
                                                </style>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if docListDOC %}
                                                            <a href="#" style="margin-left: 11px;" data-target="#filedocx" data-toggle="modal">
                                                                <a class="btn bg-aqua" style="font-size: .7em;" href="{{ baseurl }}/Member/addDocx/{{lang_abbr}}">
                                                                    <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</a>
                                                            </a>
                                                            <br> {%for elmts in docListDOC %}
                                                            <div class="col-md-3">
                                                                <div class="card-box card" style="min-height:100px;">
                                                                    <div class="card-title">
                                                                        <h5>{{ elmts.libelle }}</h5>
                                                                        <p class="printDecode" data-valu="{{ elmts.descipt }}"></p>
                                                                        <center class="hidden">
                                                                            <img src="{% static 'dotracks/img/still_frame_entreprise_hd.jpg' %}" class="img-circle card" style="width:100px; height:95px">
                                                                        </center>
                                                                    </div>
                                                                    <div class="card-link">
                                                                        <a href="{{ baseurl }}/Member/documents/{{ elmts.libelle }}/{{lang_abbr}}" class="c-link">Ouvrir le Document
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.col -->
                                                            {% endfor %} {% else %}
                                                            <div class="callout callout-info">
                                                                <h4>
                                                                    <i class="icon fa fa-info"></i> I&nbsp; {{ langue.form_aucunedonne}}</h4>
                                                                <a href="#" data-target="#filedocx" data-toggle="modal">
                                                                    <a class="btn bg-aqua" style="font-size: .7em; text-decoration: none;" href="{{ baseurl }}/Member/addDocx/{{lang_abbr}}">
                                                                        <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</a>
                                                                </a>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <!--<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-xs">Archiver</a>
                                                    <a class="btn btn-danger btn-xs">Supprimer</a>
                                                </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>


                                        <!-- timeline item -->
                                        <li>
                                            <i class="fa fa-file bg-blue"></i>

                                            <div class="timeline-item">
                                                <span class="time">
                                                </span>

                                                <h3 class="timeline-header">
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ lang_abbr }}">Dossiers</a> / {% if dossierInfo.dos__libelle != None %}<b>.. </b>/
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ dossierInfo.dos }}/{{ lang_abbr }}">{{ dossierInfo.dos__libelle }}</a> /{% endif %} {{ dossierInfo.libelle}}
                                                    <i class="fa fa-angle-right"></i> Fichiers</h3>
                                                <style>
                                                    .dropdown-item {
                                                        padding: 12px;
                                                        float: left;
                                                        width: 100%;
                                                    }
                                                </style>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if docListfile %}
                                                            <a href="#" style="margin-left: 11px;" data-target="#filedocx" data-toggle="modal">
                                                                <button class="btn bg-aqua documentFile" style="font-size: .7em;" id="documentFile" data-pdos="{{ dossierInfo.libelle }}"
                                                                    data-dos="{{ dossierInfo.id }}" data-predoc="{% if dossierInfo.dos != None %}{{ predossierInfo.libelle}}{% endif %}">
                                                                    <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                            </a>
                                                            <br> {%for elmts in docListfile %}
                                                            <div class="col-md-2" style="position: relative;">
                                                                <div class="btn-group">
                                                                    <span class="badge dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right; cursor:pointer; margin-bottom:-10px; background:#fff;">
                                                                        <i class="fa fa-angle-down" style="color:#333"></i>
                                                                    </span>

                                                                    <div class="dropdown-menu" style="font-size:0.8em; width:50px">
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/file/{{elmts.id}}/{{ lang_abbr }}">
                                                                            <i class="fa fa-eye"></i> Ouvrir</a>
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/file/{{elmts.id}}/share">
                                                                            <i class="fa fa-share"></i> Partager</a>
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/file/{{elmts.id}}/download">
                                                                            <i class="fa fa-download"></i> Telecharger</a>
                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>
                                                                <!-- Widget: user widget style 1 -->
                                                                <div class="box box-widget widget-user" style=" cursor:pointer; float: left;" data-toggle="tooltip" data-placement="bottom"
                                                                    title="{{elmts.dates}}">
                                                                    <center>
                                                                        <img src="{% static 'dotracks/img/'%}{{elmts.for_field__extension}}" alt="" style="width: 80%; margin-top: 10px;" class="img-responsive">
                                                                    </center>
                                                                    <p style="float: left;">
                                                                        <center style="font-weight:bold;margin-bottom: 2px;">{{elmts.libelle}}</center>
                                                                    </p>
                                                                </div>
                                                                <!-- /.widget-user -->
                                                            </div>
                                                            <!-- /.col -->
                                                            {% endfor %} {% else %}
                                                            <div class="callout callout-info">
                                                                <h4>
                                                                    <i class="icon fa fa-info"></i> I&nbsp; {{ langue.form_aucunedonne}}</h4>
                                                                <a href="#" data-target="#filedocx" data-toggle="modal">
                                                                    <button class="btn bg-aqua documentFile" style="font-size: .7em;" id="documentFile" data-pdos="{{ dossierInfo.libelle }}"
                                                                        data-dos="{{ dossierInfo.id }}" data-predoc="{% if dossierInfo.dos != None %}{{ predossierInfo.libelle}}{% endif %}">
                                                                        <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                                </a>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <!--<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-xs">Archiver</a>
                                                    <a class="btn btn-danger btn-xs">Supprimer</a>
                                                </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <style>
                                            /*
                                            .row-image {
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding: 0 4px;
                                            }

                                            /* Create four equal columns that sits next to each other 

                                            .column {
                                                flex: 25%;
                                                max-width: 25%;
                                                padding: 0 4px;
                                            }

                                            .column img {
                                                margin-top: 8px;
                                                vertical-align: middle;
                                            }

                                            /* Responsive layout - makes a two column-layout instead of four columns 

                                            @media screen and (max-width: 800px) {
                                                .column {
                                                    flex: 50%;
                                                    max-width: 50%;
                                                }
                                            }

                                             Responsive layout - makes the two columns stack on top of each other instead of next to each other */

                                            /*@media screen and (max-width: 600px) {
                                                .column {
                                                    flex: 100%;
                                                    max-width: 100%;
                                                }
                                            }*/

                                            .maskImage {
                                                visibility: hidden;
                                            }

                                            .ImageMask:hover .maskImage {
                                                visibility: visible;
                                            }
                                        </style>

                                        <li>
                                            <i class="fa fa-image bg-orange"></i>

                                            <div class="timeline-item">
                                                <span class="time">
                                                </span>

                                                <h3 class="timeline-header">
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ lang_abbr }}">Dossiers</a> / {% if dossierInfo.dos__libelle != None %}<b>.. </b>/
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ dossierInfo.dos }}/{{ lang_abbr }}">{{ dossierInfo.dos__libelle }}</a> /{% endif %} {{ dossierInfo.libelle}}
                                                    <i class="fa fa-angle-right"></i> Images</h3>

                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if docList %}
                                                            <div class="col-md-12">
                                                                <a href="#" data-target="#fileImage" data-toggle="modal" class="documentImage" id="documentImage" data-pdos="{{ dossierInfo.libelle }}"
                                                                    data-dos="{{ dossierInfo.id }}" data-predoc="{% if dossierInfo.dos != None %}{{ predossierInfo.libelle}}{% endif %}">
                                                                    <button class="btn bg-aqua" style="font-size: .7em;">
                                                                        <i class="fa fa-image"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                                </a>
                                                            </div>
                                                            <br>
                                                            <br> {%for ele in docList %}
                                                            <div class="col-md-2 DOCIMAGE" data-link="{{ ele.descipt }}" id="imageDoc-{{ ele.id }}">
                                                                <div class="view zoom ImageMask card" style="height: 150px; margin-bottom:10px;border-radius:10px; opacity:0.9; background: url('{{ baseurl }}/{{ ele.descipt }}')center/cover; position:relative"
                                                                    data-toggle="tooltip" data-placement="bottom" title="{{ele.dates}}">
                                                                    <div class="mask  maskImage rgba-black-strong waves-effect waves-light flex-center">
                                                                        <i class="fa fa-eye" style="color: #fff; font-size:2em;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %} {% else %}
                                                            <div class="callout callout-primary" style="background: #fff;">
                                                                <h4>
                                                                    <i class="icon fa fa-info"></i> I&nbsp; {{ langue.form_aucunedonne}}</h4>
                                                                <a href="#" data-target="#fileImage" data-toggle="modal" class="documentImage" id="documentImage" data-pdos="{{ dossierInfo.libelle }}"
                                                                    data-dos="{{ dossierInfo.id }}" data-predoc="{% if dossierInfo.dos != None %}{{ predossierInfo.libelle}}{% endif %}">
                                                                    <button class="btn bg-aqua" style="font-size: .7em;">
                                                                        <i class="fa fa-image"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                                </a>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-xs">Archiver</a>
                                                    <a class="btn btn-danger btn-xs">Supprimer</a>
                                                </div>-->
                                            </div>
                                        </li>
                                        <!-- END timeline item -->
                                        <!-- timeline time label -->
                                        <li class="time-label {% if dossierInfo.dos != None %}hidden{% endif %}">
                                            <span class="bg-green">
                                                Dossiers
                                            </span>
                                        </li>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <li class="{% if dossierInfo.dos != None %}visible{% endif %}">
                                            <i class="fa fa-folder bg-gray"></i>
                                            <div class="timeline-item">
                                                <span class="time">
                                                </span>

                                                <h3 class="timeline-header">
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ lang_abbr }}">Dossiers</a> / {% if dossierInfo.dos__libelle != None %}<b>.. </b>/
                                                    <a href="{{ baseurl }}/Member/dossiers/{{ dossierInfo.dos }}/{{ lang_abbr }}">{{ dossierInfo.dos__libelle }}</a> /{% endif %} 
                                                    {{ dossierInfo.libelle}}
                                                    <i class="fa fa-angle-right"></i> Dossiers</h3>

                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if sdossierList %}
                                                            <div class="col-md-12">
                                                                <a href="#" data-toggle="modal" data-target="#addDossier" class="addsDossier" data-dos="{{ dossierInfo.id }}">
                                                                    <button class="btn bg-green" style="font-size: .7em;">
                                                                        <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                                </a>
                                                            </div>
                                                            <br>
                                                            <br> {%for elmts in sdossierList %}
                                                            <div class="col-md-2" style="position: relative;">

                                                                <div class="btn-group">
                                                                    <span class="badge dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right; cursor:pointer; margin-bottom:-10px; background:#fff;">
                                                                        <i class="fa fa-angle-down" style="color:#333"></i>
                                                                    </span>

                                                                    <div class="dropdown-menu" style="font-size:0.8em; width:50px">
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/dossiers/{{elmts.id}}/{{ lang_abbr }}">
                                                                            <i class="fa fa-eye"></i> Ouvrir</a>
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/dossiers/{{elmts.id}}/share">
                                                                            <i class="fa fa-share"></i> Partager</a>
                                                                        <a class="dropdown-item" href="{{ baseurl }}/Member/dossiers/{{elmts.id}}/download">
                                                                            <i class="fa fa-download"></i> Telecharger</a>
                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>
                                                                <!-- Widget: user widget style 1 -->
                                                                <div class="box box-widget widget-user" style=" cursor:pointer; float: left;">
                                                                    <center>
                                                                        <img src="{% static 'dotracks/img/folder.png' %}" alt="" style="width: 80%; margin-top: 10px;" class="img-responsive">
                                                                    </center>
                                                                    <p style="float: left;">
                                                                        <center style="font-weight:bold;margin-bottom: 2px;">{{elmts.libelle}}</center>
                                                                    </p>
                                                                </div>
                                                                <!-- /.widget-user -->
                                                            </div>
                                                            {% endfor %} {% else %}
                                                            <div class="callout callout-default" style="background: #fff; border-left:2px solid #f5f5f5">
                                                                <h4>
                                                                    <i class="icon fa fa-info"></i> I&nbsp; {{ langue.form_aucunedonne}}</h4>
                                                                <a href="#" data-toggle="modal" data-target="#addDossier" class="addsDossier" data-dos="{{ dossierInfo.id }}">
                                                                    <button class="btn bg-green" style="font-size: .7em;">
                                                                        <i class="fa fa-file"></i>&nbsp; {{ langue.form_nouvelle }}</button>
                                                                </a>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-xs">Archiver</a>
                                                    <a class="btn btn-danger btn-xs">Supprimer</a>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" role="dialog" id="fileImage">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="fa fa-power-off"></i>
                        </button>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-image"></i>&nbsp; {{langue.form_choisir_photo}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <center>
                                        <button class="btn btn-primary btn-flat choose_image">
                                            <i class="fa fa-image"></i>&nbsp; {{langue.form_choisir_photo}}</button>
                                        <!--<button class="btn btn-info image_crop-rotate" data-deg="-90" id="RotateAntiClockwise">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                        <button class="btn btn-info image_crop-rotate" data-deg="90" id="RotateClockwise">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>-->
                                        <button class="btn btn-success cropped_image">Upload Image</button>
                                    </center>
                                    <br>
                                    <div id="upload-image">
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <form enctype="multipart/form-data" id='submitImages' method="POST">
                                        {% csrf_token %}
                                        <input type="file" id="images" name="imageP" required style="display: none;">
                                        <input type="hidden" id="entr" name="entr" required style="display: none;">
                                        <input type="hidden" id="dos" name="dos" required style="display: none;">
                                        <input type="hidden" id="pdos" name="pdos" required style="display: none;">

                                        <input type="hidden" value="1" name="for_field" required>
                                        <input type="hidden" id="formatImage" name="ext" required>
                                        <input type="text" value="" placeholder="Titre de l'image" class="form-control" name="libelle" required>
                                        <input type="hidden" value="1" name="descipt" required>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="filedocx">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                            <i class="fa fa-power-off"></i>
                        </button>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-file"></i>&nbsp; {{langue.form_choisir_fichier}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <center>
                                        <button class="btn btn-primary btn-flat choose_file">
                                            <i class="fa fa-file"></i>&nbsp; {{langue.form_choisir_fichier}}</button>
                                        <!--<button class="btn btn-info image_crop-rotate" data-deg="-90" id="RotateAntiClockwise">
                                                <i class="fa fa-arrow-left"></i>
                                            </button>
                                            <button class="btn btn-info image_crop-rotate" data-deg="90" id="RotateClockwise">
                                                <i class="fa fa-arrow-right"></i>
                                            </button>-->
                                        <button class="btn btn-success cropped_file">Upload File</button>
                                    </center>
                                    <br>
                                    <div id="upload-image">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <form enctype="multipart/form-data" id='submitFiles' method="POST">
                                        {% csrf_token %}
                                        <input type="file" id="fileDocx" name="imageP" required style="display: none;">
                                        <input type="hidden" id="entr2" name="entr" required style="display: none;">
                                        <input type="hidden" id="dos2" name="dos" required style="display: none;">
                                        <input type="hidden" id="pdos2" name="pdos" required style="display: none;">

                                        <input type="hidden" value="1" name="for_field" required>
                                        <input type="hidden" id="formatFichier" name="ext" required>
                                        <input type="text" value="" placeholder="Titre du Fichier" class="form-control" name="libelle" required>
                                        <input type="hidden" value="1" name="descipt" required>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="divDOCIMAGE" style="position:fixed; top:0; left:0;right:0;bottom:0;background:none; z-index:999999;">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12" style="top:40px;position: relative;bottom:80px;background:none">
            <div class="col-md-12 scroll" style="max-height:570px; width:100%; overflow:hidden;background:#333;position:relative;">
                <div id="contentDOCIMAGE"></div>
            </div>

            <div class="nin nin-url nin-prev" data-prev-url="" style="position: absolute; cursor: pointer; bottom:0; left:15px; top:0; background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));z-index:9999;">
                <a href="#" style="font-size:9em; margin-top:30%; color:#fff; padding:20px;">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="nin nin-url nin-next" data-next-url="" style="position: absolute; cursor: pointer; bottom:0; right:15px; top:0; background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));z-index:9999;">
                <a href="#" style="font-size:9em; margin-top:30%; color:#fff; padding:20px;">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <!-- /.info-box -->

            <div class="nin" style="position: absolute; bottom:0; left:15px; right:15px; background:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0));z-index:9999;">
                <center>
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-share"></i>
                    </a>
                    <a href="#" id="zoom-plus" class="btn btn-primary">
                        <i class="fa fa-zoom"></i>
                    </a>
                    <a href="#" id="zoom-moins" class="btn btn-default">
                        <i class="fa fa-zoom-moins"></i>
                    </a>
                </center>
                <a href="" class="btn btn-danger pull-right">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </div>
    </div>

    {% endblock %}