{% extends 'dotracks/dashboard/header.html' %} {% load static %} {% block content %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ langue.form_profile }}
            <small>DOTrack v1.0</small>
        </h1>
        <ol class="breadcrumb">
            {% if request.session.d_user %}
            <li>
                <a href="{{baseurl}}/dashboard/admin/{{lang_abbr}}">
                    <button class="btn btn-xs btn-flat btn-default">
                        <i class="fa fa-arrow-left"></i> {{langue.form_dashboard }} Admin</button>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{baseurl}}/dashboard/Member/{{lang_abbr}}">
                    <i class="fa fa-dashboard"></i> {{ langue.form_menu_acceuil }}</a>
            </li>
            <li class="active">{{ langue.form_Members }}</li>
            <li class="active">{{ request.resolver_match.view_name }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <hr>

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary card">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{% if userInfo.photo != '0' %}{{ baseurl }}/{{ userInfo.photo }}{% else %}http://esrilanka.org/mcqpal/backend/dist/img/user2-160x160.png{% endif %}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{userInfo.nom}}&nbsp;{{userInfo.prenom}}</h3>

                        <p class="text-muted text-center">{{userInfo.typ__libeler}}
                            <br>{{userInfo.role}}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item hidden">
                                <b>{{langue.form_lastDeconnexion}}</b>
                                <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item" style="padding-bottom:25px;">
                                <b>{{langue.form_lastConnexion}}</b>
                                <a class="pull-right">{{userInfo.lastconnect}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>{{langue.form_Totalconnexion}}</b>
                                <a class="pull-right badge badge-primary">{{userInfo.totalconnect}}</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block">
                            <b>{{langue.form_controlActivity}}</b>
                        </a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- About Me Box -->
                <div class="box box-primary card">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{langue.form_aboutme}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong>
                            <i class="fa fa-book margin-r-5"></i> {{langue.form_description}}</strong>

                        <p class="text-muted">
                            {{userInfo.about}}
                        </p>

                        <hr>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom card">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#activity" data-toggle="tab">Activity</a>
                        </li>
                        <li>
                            <a href="#timeline" data-toggle="tab">Timeline</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">{{ langue.form_reglages }}</a>
                        </li>
                        <li>
                            <a href="#picture" data-toggle="tab">Photo de Profile</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="picture">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- FORM TO UPLOAD THE IMAGES -->
                                    <form method="post" action="{{ baseusrl }}/Member/addMemberProfile" enctype="multipart/form-data" id="formUpload">
                                        {% csrf_token %}

                                        <center>
                                            <h2 style="margin-top:60px">Ajouter une photo de Profil
                                                <br>
                                                <br>
                                            </h2>
                                            <a id="chooseImage">
                                                <h3>Choisir un fichier Image</h3>
                                                <img src="http://media.idownloadblog.com/wp-content/uploads/2016/03/Generic-profile-image-002.png" class="img-responsive"
                                                />
                                            </a>
                                            <h3>Photo de Profil actuel</h3>
                                            <img src="{% if userInfo.photo != '0' %}{{ baseurl }}/{{ userInfo.photo }}{% else %}http://esrilanka.org/mcqpal/backend/dist/img/user2-160x160.png{% endif %}" alt="..." style="margin:8px; border-radius:10px" class="card">
                                        </center>
                                        <div class="col-md-12" style="display:none;">
                                            <input type="file" id="id_file" class="form-control" name="photo" />
                                            <input type="text" id="id_x" class="form-control" name="x" />
                                            <input type="text" id="id_y" class="form-control" name="y" />
                                            <input type="text" id="id_width" class="form-control" name="width" />
                                            <input type="text" id="id_height" class="form-control" name="height" />
                                            <input type="number" class="form-control" value="{{ request.session.d_memberid }}" name="use" />
                                        </div>
                                        <hr>
                                    </form>

                                    <!-- MODAL TO CROP THE IMAGE -->
                                    <div class="modal fade" id="modalCrop">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                                                        <span>&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">Veuillez rogner l'image</h4>
                                                </div>
                                                <div class="modal-body scroll" style="overflow-x:auto; overflow-y:auto; max-height:450px;">
                                                    <img src="" id="image" style="max-width:100%;">
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="btn-group pull-left" role="group">
                                                        <button type="button" class="btn btn-default js-zoom-in">
                                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default js-zoom-out">
                                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default js-rotate-right">
                                                            <span class="fa fa-spinner"></span>
                                                        </button>
                                                    </div>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuler</button>
                                                    <button type="button" class="btn btn-primary js-crop-and-upload">Rogner & Uploader</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="active tab-pane" id="activity">
                            <div class="box-body scroll scroll_bleu" style="overflow-x: auto">
                                <div class="alert bg-primary">
                                    <p>
                                        Votre traffic general sur l'application
                                    </p>
                                </div>
                                <table id="example1" class="table table-bordered table-striped" style="font-size: 1.1em">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="font-size: 1.1em">IP</th>
                                            <th style="font-size: 1.1em">{{ langue.form_libeller }}</th>
                                            <th style="font-size: 1.1em">Dates</th>
                                            <th style="font-size: 1.1em">Taches</th>
                                            <th style="font-size: 1.1em">{{ langue.form_outils}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for elmts in allMouchard|slice:":100" %}
                                        <tr>
                                            <td style="font-size: 1.1em">
                                                <center>
                                                    <button class="btn btn-info btn-sm delete" id="{{ elmts.id }}" data-toggle="tooltip" title="Voir les Details">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </center>
                                            </td>
                                            <td style="font-size: 1.1em">{{ elmts.ip }}</td>
                                            <td style="font-size: 1.1em">{{ elmts.page }}</td>
                                            <td style="font-size: 1.1em">{{ elmts.date }}</td>
                                            <td style="font-size: 1.1em">{{ elmts.tache }}</td>
                                            <td style="font-size: 1.1em">
                                                <center>
                                                    <button class="btn btn-success btn-sm desactiver" id="{{ elmts.id }}" data-toggle="tooltip" title="Marquer Comme Vus">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                </center>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer text-center">
                                <a href="#" class="uppercase btn btn-primary" style="font-size: 0.8em;">Marquer tous comme Vus</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li style="margin-top:50px">
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header hidden">
                                            <a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">...
                                        </div>
                                        <div class="timeline-footer hidden">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border">
                                            ...
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header hidden">
                                            <a href="#">Jay White</a> commented on your post</h3>

                                        <div class="timeline-body">
                                            ...
                                        </div>
                                        <div class="timeline-footer hidden">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i></span>

                                        <h3 class="timeline-header">
                                            Mes Photos de Profil</h3>

                                        <div class="timeline-body">
                                            {% if profilePic %}{% for pic in profilePic %}
                                            <img data-url="{{ pic.photo }}" src="{{ baseurl }}/{{ pic.photo }}" alt="..." style="margin:8px; width:20%; border-radius:50%; cursor:pointer; {% if userInfo.photo == pic.photo %}opacity:0.4{% endif %}" class="card {% if userInfo.photo != pic.photo %}changePicProfil{% endif %}"> {% endfor %}{% else %}
                                            
                                            <div class="callout callout-success">
                                                <h4>
                                                    <i class="icon fa fa-info"></i> I&nbsp; {{ langue.form_aucunedonne}}</h4>
                                                <a href="#picture" data-toggle="tab">
                                                    <button class="btn  bg-aqua">
                                                        <i class="fa fa-plus"></i>&nbsp; Ajouter une Photo</button>
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-header with-border">
                                            <div class="alert alert-default alert-dismissible col-md-10">
                                                <h4 class="box-title">
                                                    <i class="icon fa fa-info"></i> {{langue.form_Modifier_mes_informations}}.</h4>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <form role="form" method="POST" action="{{ baseusrl }}/dashboard/admin/addUser" id="addUseruser">
                                            {% csrf_token %}
                                            <div class="box-body">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">{{ langue.form_nom }}</label>
                                                        <input type="text" required name="nom" value="{{userInfo.nom}}" class="form-control" id="exampleInputEmail1" placeholder="{{ langue.form_nom }}"
                                                        />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1a">{{ langue.form_prenom }}</label>
                                                        <input type="text" required name="prenom" value="{{userInfo.prenom}}" class="form-control" id="exampleInputEmail1a" placeholder="{{ langue.form_prenom }}"
                                                        />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmaila">{{ langue.form_email }}</label>
                                                        <input type="email" required name="email" value="{{userInfo.email}}" class="form-control" id="exampleInputEmaila" placeholder="{{ langue.form_email }}"
                                                        />
                                                    </div>
                                                    <!-- phone mask -->
                                                    <div class="form-group">
                                                        <label>Numero Téléphone: </label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </div>
                                                            <input type="text" required name="tel" value="{{userInfo.tel}}" class="form-control" data-inputmask='"mask": "(999) 999-99-99-99"'
                                                                data-mask/>
                                                        </div>
                                                        <!--/.input group -->
                                                    </div>
                                                    <!-- /.form group -->
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1an">Login</label>
                                                        <input type="text" required name="login" class="form-control" value="{{userInfo.login}}" id="exampleInputEmail1an" placeholder="login"
                                                        />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1an">{{ langue.form_Cicursale }}</label>
                                                        <select name="cic" disabled class="form-control select2" required id="exampleInputEmail1an" style="width: 100%;">
                                                            <option selected value="{{ userInfo.cic }}">{{ userInfo.cic__ville }} ({{ userInfo.cic__pays }})</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1amn">{{ langue.form_user }}</label>
                                                        <select name="typ" disabled class="form-control select2" required id="exampleInputEmail1amn" style="width: 100%;">
                                                            <option selected value="{{ userInfo.typ }}">{{ userInfo.typ__libeler }} ({{ userInfo.typ__code}})</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1assn">{{ langue.form_fonction }}</label>
                                                        <input type="text" disabled required name="role" value="{{userInfo.role}}" class="form-control" id="exampleInputEmail1assn"
                                                            placeholder="{{ langue.form_fonction }}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">{{ langue.form_aboutme }}</label>
                                                        <textarea name="Descript" required class="form-control entEditDescript textarea" placeholder="{{ langue.form_aboutme }}"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Mot de Passe: </label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-eye"></i>
                                                            </div>
                                                            <input type="text" required name="password" value="" class="form-control" />
                                                        </div>
                                                        <!--/.input group -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->

                                            <div id="reponses" class="row">

                                            </div>

                                            <div class="box-footer" id="push">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-flat btn-primary">
                                                            <i class="fa fa-save"></i>&nbsp; {{ langue.form_Enregistrer }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->

            <style>
                .principal {
                    display: none;
                }
            </style>

            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
</div>
<!-- /.row -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}